.favorites-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
}

.fav-icon {
    width: 68px;
    height: 58px;
}

.favorites-text {
    display: flex;
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    line-height: 18px;
}

.category-list-favorites {
    display: flex;
    gap: 18px;
}

.tags-container {
    display: flex;
    gap: 18px;
    margin-bottom: 24px;
    overflow: hidden;
}

.scrolling-container {
    max-width: 100%;
    overflow-x: auto; /* Змінено на overflow-x: auto для автоматичного включення горизонтального скролу */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Додано для покращеного прокручування на мобільних пристроях з підтримкою touch */
}
.categories-box-favorites {
    overflow-x: scroll;
}
.all-tags {
    margin-top: 40px;
    font-weight: 500;
    font-size: 14px;
    min-width: 91px;
    height: 46px;
    border-radius: 15px;
    border-color: var(--primary-input-border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-input-title-color);
    background-color: transparent;
    display: inline-block;
}

ul.favourites-list-btn {
    overflow-x: auto;
    white-space: nowrap; /* Забезпечте горизонтальний режим без перенесення тексту */
    /* Інші ваші стилі тут */
}
.all-tags:hover,
.all-tags:focus {
    background-color: var(--primary-brend);
    color: var(--primary-bg-color);
}
/* .favourites-list-btn .category-btn:hover {
    border: none;
    color: #f8f8f8;
    background-color: #9bb537;
}
.favorites-tags:hover {
    border: none;
    color: #f8f8f8;
    background-color: #9bb537;
}
.favourites-list-btn .category-btn:focus {
    border: none;
    color: #f8f8f8;
    background-color: #9bb537;
}
.favorites-tags:focus {
    border: none;
    color: #f8f8f8;
    background-color: #9bb537;
} */
.btn-page-change:hover {
    background-color: #9bb537;
}
.btn-page-change {
    font-weight: 600;
    font-size: 18px;
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    border-color: rgba(5, 5, 5, 0.3);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-change-favourite-list {
    display: flex;
    justify-content: center;
    gap: 4px;
    position: fixed;
    bottom: 5%;
}
.btn-num-favourites {
    display: flex;
    gap: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.green-btn-favourites {
    background-color: #9bb537;
    border: none;
}
.dark-btn-favourites {
    background-color: #050505;
    border: none;
}
.dark-btn-favourites:hover {
    background-color: #050505;
}
.btn-number-favourite {
    display: flex;
}

.hero-block {
    display: none;
}
.category-list-favorites {
    display: flex;
    flex-wrap: nowrap; /* Забороняє переносити рядки */
    overflow-x: auto; /* Включає горизонтальний скрол */
}
.favorites-gallery-container {
    margin-bottom: 40px;
}
.favorites-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
/* ================320px============== */

@media screen and (min-width: 320px) {
    .page-change-favourite-list {
        min-width: 335px;
        min-height: 40px;
        justify-content: flex-start;
        bottom: 3%;
    }
}

/* ================450px============== */

@media screen and (min-width: 450px) {
    .page-change-favourite-list {
        justify-content: center;
    }
}

/* ================768px============== */

@media screen and (min-width: 768px) {
    .page-change-favourite-list {
        justify-content: center;
        left: 35%;
    }
    .favorites-list {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
    }
    .favorites-gallery-container {
        margin-bottom: 64px;
    }
    .tags-container {
        margin-bottom: 32px;
    }
}

/* ================1158px============== */
@media screen and (min-width: 1158px) {
    .page-change-favourite-list {
        left: 50%;
    }
}
