@import './root.css';

.link {
    text-decoration: none;
}
/* ---------------------------------------------- */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.logo-header {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.64px;
}
.logo-color {
    color: var(--primary-text-CH-color);
}
.header-btn-box {
    display: flex;
    align-items: center;
    gap: 14px;
}
.header {
    padding-top: 24px;
}
.header-container {
    display: none;
}
.header-nav {
    display: flex;
    gap: 16px;
}
.mob-container {
    display: flex;
    justify-content: space-between;
}
.header-nav-link {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.is-active-link {
    color: var(--primary-brend);
}

.header-logo {
    align-self: center;
}
.header-logo-link {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.64px;
}
.header-span {
    color: var(--primary-brend);
}
.header-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
}
.header-cart-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    fill: var(--primary-title-color);
}

.header-cart {
    width: 24px;
    height: 24px;
}
.header-burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
}
.header-burger {
    width: 32px;
    height: 32px;
}
.header-burger:hover,
.header-burger:focus {
    fill: var(--primary-brend);
}
.header-cart:hover,
.header-cart:focus {
    fill: var(--primary-brend);
}
.headerModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    z-index: 9999;
}

.header-modal-content {
    width: 53vw;
    height: 100vh;
    background-color: var(--primary-brend);
}
.header-modal-content {
    display: flex;
    justify-content: center;
}
.header-mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 30vh;
}
.header-mobile-link {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}

.header-close {
    line-height: inherit;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.header-switch-mob {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: inline-block;
    width: 46px;
    height: 20px;
}
.header-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}
.header-switch .header-input {
    display: none;
}
.header-switch-mob .header-input-mob {
    display: none;
}
.header-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.header-slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.header-input:checked + .header-slider,
.header-input-mob:checked + .header-slider {
    background-color: var(--primary-brend);
}
.header-input:checked + .header-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.header-input-mob:checked + .header-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.header-slider.round {
    border-radius: 34px;
}
.header-slider.round:before {
    border-radius: 50%;
}
.no-animation {
    transition: none !important;
}
@media screen and (min-width: 768px) {
    .header {
        padding-top: 30px;
    }
    .mob-container {
        display: none;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
    }
    .header-nav-container {
        align-self: center;
    }
    .header-buttons {
        gap: 18px;
    }
}
@media screen and (min-width: 1200px) {
    .header {
        padding-top: 40px;
        padding-bottom: 93px;
    }
    .header-buttons {
        gap: 24px;
    }
}

/* .header {
    padding-bottom: 90px;
}

.header-desktop {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
}

.logo-block {}

.header-logo-block {
    margin-top: 28px;
}

.header-logo-first-color {
    color: var(--primary-brend);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.64px;
}

.header-logo-second-color {
    color: var(--primary-title-color);
}

.dark-mode .header-logo-second-color {
    color: var(--dark-title-color);
}

.active-page {
    color: var(--primary-brend);
}

.dark-mode .active-page {
    color: var(--primary-brend);
}

.cart-menu-block {
    display: flex;
    align-items: center;
    padding-top: 20.5px;
>>>>>>> aa71d00ef46407f10f25e8b305e7d45730f0aac6
}
.shopping-link {
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.shopping-icon {
  fill: transparent;
  stroke: var(--primary-text-CH-color);
=======
.dark-mode .header-cart-icon,
.dark-mode .header-hamburger-icon {
    fill: var(--dark-title-color);
}

.header-cart-icon:hover,
.header-hamburger-icon:hover {
    fill: var(--primary-brend);
    transition: all 300ms ease;
>>>>>>> aa71d00ef46407f10f25e8b305e7d45730f0aac6
}
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-menu-icon {
  width: 32px;
  height: 32px;
  stroke: var(--primary-text-CH-color);
}
/* ---TOGGLE SWITCH--- */
.switcher-input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.input-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 20px;
    background: #cecdcd;
    display: block;
    border-radius: 18px;
    position: relative;
}
.input-label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #f8f8f8;
    border-radius: 18px;
    transition: 0.3s;
}
.switcher-input:checked + .input-label {
    background: #9bb537;
}
.switcher-input:checked + .input-label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}
.input-label:active:after {
    width: 26px;
}
.dark-mode .header-cart-icon:hover,
.dark-mode .header-hamburger-icon:hover,
.dark-mode .close-menu-icon:hover {
    fill: var(--primary-brend);
}

.header-hamburger-icon {
    margin-left: 15px;
}

/* ------------------------- */
/* .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--primary-brend);
    z-index: 11;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.visible {
    opacity: 1;
}

--------------------------- .dark-mode .mobile-menu {
    background-color: var(--dark-mode-bg);
}

.close-menu-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
    fill: var(--dark-title-color);
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-nav {
    transition: all 300ms ease;
}

.mobile-menu-nav-links {
    margin-bottom: 16px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobile-menu-nav-links:last-child {
    margin-bottom: 0px;
>>>>>>> aa71d00ef46407f10f25e8b305e7d45730f0aac6
}
/* MOBIL WINDOW */
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.mobile-menu-nav-links.active-link {
    font-size: 500;
}

.mobile-menu-nav-links:hover {
    color: #1e1e1e;
}

.dark-mode .mobile-menu-nav-links:hover {
    color: var(--primary-brend);
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* width: 100vw;
  height: 100vh; */
    /* padding: 32px; */
    padding: 0;
    padding-top: 200px;

    background-color: var(--bgc-CH-background-mob-menu);
    z-index: 999;

    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
}
.mobile-menu-nav-links.dark-mode-hover:hover {
    color: var(--primary-brend);
}
.menu-container.is-open {
    transform: translateX(0);
}
.block {
    overflow: hidden;
}
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #ffffff;
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu .nav-link {
    display: block;
    padding: 0 50px 16px 50px;

    color: #ffffff;
    text-decoration: none;

    text-align: center;
}
/* --my-css--- */
.theme-switcher.burger {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/* ----- МЕДИА ЗАПРОСЫ ----- */
@media screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }
    .theme-switcher.main {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .nav-header {
        padding-top: 30px;
    }
    .burger-menu {
        display: none;
    }
    .theme-switcher {
        height: 20px;
    }
    .header-btn-box {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 16;
    }
    .nav-link {
        color: var(--primary-text-CH-color);
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
    }
    .nav-link.current {
        color: var(--main-color);
    }
    .logo-header {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.72px;
    }

    .mobile-menu-switcher {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }

    @media screen and (min-width: 768px) {
        .block-for-mobile,
        .mobile-menu {
            display: none;
        }

        .tablet-desktop {
            display: block;
        }

        .tablet-desktop-nav {
            padding-top: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navigations {
            margin-top: 31px;
        }

        .tablet-menu-nav-links {
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
        }

        .tablet-menu-nav-links:not(:last-child) {
            margin-right: 16px;
        }

        .tablet-menu-nav-links:hover {
            color: var(--primary-brend);
            transition: all 300ms ease;
        }

        .tablet-desktop-nav-icons {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .switcher {
            margin-left: 16px;
            margin-right: -22px;
            flex-shrink: 0;
        }

        .logo-first-color {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.72px;
        }

        .logo-second-color {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.72px;
        }
    }
    @media screen and (min-width: 1280px) {
        .nav-header {
            padding-top: 42px;
        }
        .header-btn-box {
            gap: 18px;
        }
    }

    .header {
        padding-bottom: 34px;
    }

    .navigations {
        margin-top: 43px;
    }

    .logo-block {
        margin-top: 40px;
    }

    .tablet-desktop-nav-icons {
        margin-top: 32px;
    }
}

/*:
:root[data-theme='light'] {
    color-scheme: light;
    --text: black;
    --background: white;
}
:root[data-theme='dark'] {
    color-scheme: dark;
    --text: white;
    --background: black;
}

root[data-theme='dark'] .treats {
    color: var(--dark-title-color);
}

:root[data-theme='dark'] .header-cart {
    fill: var(--dark-title-color);
}
:root[data-theme='dark'] .header-burger-btn {
    fill: var(--dark-title-color);
}
body {
    color: var(--text);
    background: var(--background);
}*/

/*  
