@import "./root.css";
<<<<<<< Updated upstream
/* .container {} */

/* .header {
    padding-bottom: 90px;
} */

.tablet-desktop {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 28px; */
}

/* .logo-block {} */

.logo-block {
    margin-top: 28px;
}

.logo-first-color {
    color: var(--primary-brend);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.64px;

}

.logo-second-color {
    color: var( --primary-title-color);
}

.dark-mode .logo-second-color {
    color: var( --dark-title-color);
}

.active-page {
    color: var(--primary-brend);
}

.dark-mode .active-page {
    color: var(--primary-brend);

}

.cart-menu-block {
    display: flex;
    align-items: center;
    padding-top: 20.5px;
}

.dark-mode .header-cart-icon,
.dark-mode .header-hamburger-icon {
    fill: var(--dark-title-color);
}

.header-cart-icon:hover,
.header-hamburger-icon:hover {
    fill: var(--primary-brend);
    transition: all 300ms ease;
}

.dark-mode .header-cart-icon:hover,
.dark-mode .header-hamburger-icon:hover,
.dark-mode .close-menu-icon:hover {
    fill: var(--primary-brend);

}


.header-hamburger-icon {
    margin-left: 15px;
}




/* ------------------------- */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: var(--primary-brend);
    z-index: 11;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* --------------------------- */

.dark-mode .mobile-menu {
    background-color: var(--dark-mode-bg);
}

.close-menu-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
    fill: var(--dark-title-color);
}


.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-nav {
    transition: all 300ms ease;
}


.mobile-menu-nav-links {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobile-menu-nav-links:last-child {
    margin-bottom: 0px;
}


.mobile-menu-nav-links.active-link {
    font-size: 500;
}

.mobile-menu-nav-links:hover {
    color: #1e1e1e;
}

.dark-mode .mobile-menu-nav-links:hover {
    color: var(--primary-brend);
}

.mobile-menu-nav-links.dark-mode-hover:hover {
    color: var(--primary-brend);
}

.mobile-menu-switcher {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}


@media screen and (min-width: 768px) {


    .block-for-mobile,
    .mobile-menu {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .tablet-desktop-nav {
        /* padding-top: 28px; */
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .navigations {
        margin-top: 31px;
    }

    .tablet-menu-nav-links {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }

    .tablet-menu-nav-links:not(:last-child) {
        margin-right: 16px;
    }

    .tablet-menu-nav-links:hover {
        color: var(--primary-brend);
        transition: all 300ms ease;
    }

    .tablet-desktop-nav-icons {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .switcher {
        margin-left: 16px;
        margin-right: -22px;
        flex-shrink: 0;
    }



    .logo-first-color {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.72px;
    }

    .logo-second-color {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.72px;
    }


}

@media screen and (min-width: 1280px) {

    /* .header {
        padding-bottom: 34px;
    } */

    .navigations {
        margin-top: 43px;
    }

    .logo-block {
        margin-top: 40px;
    }

    .tablet-desktop-nav-icons {
        margin-top: 32px;
    }
}
=======
.link {
    text-decoration: none;
  }
  .nav-link.current {
    color: var(--primary-brend);
  }
  
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
  }
  .logo-header {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.64px;
    color: var(--primary-brend);
  }
  .logo-color {
    color: var(--primary-title-color);
  }
  .shopping-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .shopping-icon {
    fill: transparent;
    stroke: var(--primary-title-color);
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-menu-icon {
    width: 32px;
    height: 32px;
    stroke: var(--primary-title-color);
  }
  .header-btn-box {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .input-switcher[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }
  
  .input-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 20px;
    background: #cecdcd;
    display: block;
    border-radius: 18px;
    position: relative;
  }
  
  .input-label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: var(--text-white-color);
    border-radius: 18px;
    transition: 0.3s;
  }
  
  .input-switcher:checked + .input-label {
    background: #9bb537;
  }
  
  .input-switcher:checked + .input-label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }
  
  .input-label:active:after {
    width: 26px;
  }
  
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-container {
    position: fixed;
    width: 40%;
    min-width: 220px;
    height: 100%;
    top: 0;
    right: 0;
  
    padding-top: 200px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    background-color: var(--background-mob-menu);
    z-index: 999;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out,
      transform 250ms ease-in-out;
    transform: translateX(-100%);
  }
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .block {
    overflow: hidden;
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--primary-white-color);
  }
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .mobile-menu .nav-link {
    display: block;
    padding: 0 50px 16px 50px;
    color: var(--primary-white-color);
    text-decoration: none;
    text-align: center;
  }
  .theme-switcher.burger {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  /* Медіа запити */
  @media screen and (max-width: 767px) {
    .nav-list {
      display: none;
    }
    .theme-switcher.main {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .nav-header {
      padding-top: 30px;
    }
    .burger-menu {
      display: none;
    }
    .theme-switcher {
      height: 20px;
    }
    .header-btn-box {
      display: flex;
      align-items: center;
      gap: 14px;
    }
    .nav-list {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .nav-link {
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      color: var(--primary-color);
    }
    .nav-link.active.link {
      color: var(--primary-color);
    }
    .shopping-icon:hover,
    .shopping-icon:focus {
      fill: transparent;
      stroke: var(--primary-brend);
    }
    .shopping-icon {
      transition: stroke 250ms ease-in-out;
    }
  
    .logo-header {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.72px;
    }
  }
  @media screen and (min-width: 1280px) {
    .nav-header {
      padding-top: 42px;
    }
    .header-btn-box {
      gap: 18px;
    }
  }
>>>>>>> Stashed changes
