@import './root.css';
@import './popular.css';

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-scroll-bar);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-scroll-bar); /* змініть на потрібний колір */
}

main {
    margin-bottom: 70px;
}

/* Placing of main */
.main-div {
    display: flex;
    flex-direction: column;
}

#side-bar {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
}

/* START********************************************************************************* */
/* Категорії */
.all-category-btn {
    color: var(--primary-input-title-color);
    border: 1px solid var(--primary-input-border);
    width: 176px;
    height: 50px;
    border-radius: 15px;
    background-color: inherit;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.21;
    text-wrap: nowrap;
}

.all-category-btn:hover {
    background-color: var(--primary-brend);
    color: var(--primary-bg-color);
    border: 1px solid var(--primary-brend);
}

.categories-box {
    margin-bottom: 40px;
}

.category-item-list:not(:last-child) {
    margin-bottom: 18px;
}

.category-btn {
    color: var(--primary-input-title-color);
    background-color: transparent;
    border-color: transparent;
}

.category-btn:hover {
    color: var(--primary-brend);
}

.active-button {
    color: var(--primary-brend);
}

.category-list {
    padding-left: 0px;
}

.categories-box {
    max-width: 326px;
    height: 198px;
    overflow-y: scroll;
}

.filter-item {
    color: var(--primary-input-title-color);
    border: 1px solid var(--primary-input-border);
    border-radius: 15px;
    gap: 40px;
    padding: 14px 18px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    background-color: inherit;
}

.filter-item:hover {
    border: 1px solid var(--primary-brend);
}
/* Фото рецептів */
.list-item {
    margin: 0 auto !important;
}

.item-cards {
    margin-bottom: 18px;
    position: relative;
    width: 335px;
    height: 335px;
}

.card-img {
    position: relative;
    object-fit: cover;
    max-width: 335px;
    width: 100%;
    display: block;
}

.card-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5000;
    background: linear-gradient(
        to right,
        rgba(9, 5, 47, 0.85) 0%,
        rgba(49, 29, 94, 0.85) 100%
    );
}

/* Фільтри */
.filters {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.filter-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-input {
    color: var(--primary-input-title-color);
}

.filter-input-wrap {
    position: relative;
}

.filter-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
}

.time {
    width: 160px;
}

.area {
    width: 160px;
}

.ingrediends {
    width: 188px;
}

.ingrediends-box {
    margin-bottom: 14px;
}

.label {
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: var(--primary-input-title-color);
    margin-top: 14px;
}

#content-filters {
    display: grid;
}
.reset-filters {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--primary-input-title-color);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
.reset-filters::before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../img/recet-x.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cards {
    width: 335px;
    margin-bottom: 40px;
}

/* Пагінація****************************************************************** */
.pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.arrow {
    /* margin-bottom: 5px; */
}

.main-pag-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 8px;
    font-family: inter;
    color: var(--primary-title-color);
    border: 1px solid var(--primary-input-border);
    background-color: inherit;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-pag-btn[disabled] {
    color: #ffffff33;
    background-color: #050505;
}

.main-pag-btn.main-pag-btn-green {
    border: 1px solid #9bb537;
    border-radius: 50%;
    background-color: #9bb537;
}

.main-pag-btn:hover:not([disabled]) {
    border-color: #ff00004d;
    border-radius: 50%;
    background-color: rgb(245, 130, 89);
    color: yellowgreen;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-pag-btn.active:hover {
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    width: 44px;
    height: 44px;
    margin-right: 8px;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-pag-btn.active {
    border-radius: 50%;
    background-color: #9bb537;
    color: rgb(253, 253, 253);
    width: 44px;
    height: 44px;
    margin-right: 8px;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.add-fav-btn {
    position: absolute;
    z-index: 1000;
    /* background-color: red; */
    color: white;
    width: 22px;
    height: 22px;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 2;
}
.heard-icon {
    width: 22px;
    height: 22px;
    z-index: 2;
}

.span-title {
    position: absolute;
    bottom: 103px;
    left: 16px;
    color: #f8f8f8;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    /* height: 18px; */
    z-index: 2;
}

.span-descr {
    position: absolute;
    bottom: 63px;
    left: 16px;
    color: rgba(248, 248, 248, 1);
    width: 218px;
    max-height: 32px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    z-index: 2;
}

.main-see-recipe {
    position: absolute;

    left: 210px;
    top: 275px;
    /* top: 288px;
    width: 89px; */
    background-color: #9bb537;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 93px;

    position: absolute;
    z-index: 1000;
    bottom: 16px;
    right: 16px;

    font-weight: 500;
    font-size: 12px;
    color: #f8f8f8;
}

/* .shadow-on-img {
    position: relative;
    width: 335px;
    height: 335px;
} */

.shadow-on-img::before {
    content: '';
    position: absolute;
    inset: -9px;
    transform: translate(10px, 8px);
    z-index: 1;
    background-image: linear-gradient(to top, #000000, transparent);
    filter: blur(0px);
    opacity: 80%;
    border-radius: 8px;
    width: 320px;
    height: 320px;
}
.item-cards .card-img {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}

.form-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.reset-filters {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

.rating-recipe {
    display: flex;
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 999;
}

/* MIN 320*************************************** */
@media screen and (min-width: 375px) {
    #content {
        width: 320px;
    }
    .filter-input {
        width: 320px;
    }

    .list-item {
        width: 320px;
    }
}

/* MIN 375**************************************************************** */
@media screen and (min-width: 375px) {
    #content {
        width: 335px;
    }

    .filter-input {
        width: 335px;
    }

    .list-item {
        margin: 0 auto !important;
        width: 335px;
    }
    .main-see-recipe {
        left: 132px;
    }
    .item-cards .card-img {
        width: 335px;
        height: 335x;
    }
    .shadow-on-img::before {
        width: 335px;
        height: 335px;
    }

    .item-cards .card-img {
        width: 335px;
        height: 335px;
    }
    .main-see-recipe {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 230px;
        top: 288px;
    }
}

/* MIN 768******************************************************* */
@media screen and (min-width: 768px) {
    /* Категорії */
    #content {
        width: 496px;
    }
    .filters {
        width: 419px;
    }
    .main-div {
        display: flex;
        gap: 32px;
        flex-direction: row;
    }
    .cards {
        width: 496px;
        margin-bottom: 64px;
    }
    .all-category-btn {
        margin-bottom: 30px;
    }

    .categories-box {
        max-width: 170px;
        height: 416px;
        margin-bottom: 64px;
    }

    .category-item-list:not(:last-child) {
        margin-bottom: 24px;
    }

    /* Фото рецептів */
    .list-item {
        display: flex;
        flex-wrap: wrap;
        width: 496px;
        row-gap: 16px;
        column-gap: 16px;
    }

    .item-cards {
        margin-bottom: 0px;
        width: 240px;
        height: 264px;
    }

    .card-img {
        max-width: 240px;
    }

    /* Фільтри */
    .filter-input {
        width: 278px;
    }

    .time {
        width: 125px;
    }

    .area {
        width: 141px;
    }
    .filters {
        gap: 16px;
    }

    .label {
        font-size: 14px;
        line-height: 1.29;
    }

    .cards {
        margin-bottom: 64px;
    }

    .card-img .item-cards {
        width: 240px;
        height: 264px;
    }

    .shadow-on-img::before {
        width: 240px;
        height: 265px;
    }

    .shadow-on-img {
        width: 240px;
        height: 264px;
    }
    .item-cards .card-img {
        width: 240px;
        height: 264px;
    }

    .main-see-recipe {
        left: 135px;
    }

    .reset-filters {
        display: flex;
        justify-content: flex-end;
        /* margin-right: 145px; */
        position: inherit;
        margin-bottom: 14px;
    }

    .main-see-recipe {
        top: 217px;
        left: 135px;
    }
    /* Пагінація******************************************************** */
}
/* MIN 1280******************************************************/
@media screen and (min-width: 1280px) {
    /* Категорії */

    #content {
        width: 782px;
    }
    .filters {
        width: 782px;
        display: flex;
        gap: 16px;
    }

    .main-div {
        gap: 64px;
    }
    .cards {
        width: 782px;
        margin-bottom: 40px;
    }
    .item-cards {
        width: 250px;
        height: 288px;
    }

    .all-category-btn {
        margin-bottom: 42px;
    }

    .categories-box {
        max-width: 235px;
        height: 416px;
    }

    /* Фото рецептів */
    .card-img {
        width: 250px;
    }

    .list-item {
        row-gap: 32px;
        width: 782px;
    }

    .main-see-recipe {
        /* right: 16px; */
        top: 240px;
        left: 141px;
    }

    /* .reset-filters {
        margin-right: 30px;
    } */
    .shadow-on-img::before {
        width: 250px;
        height: 289px;
        /* left: 1px; */
    }
    .item-cards .card-img {
        min-width: 250px;
        height: 288px;
    }
}
