@import './root.css';
@import './popular.css';

/* Placing of main */
main {
  display: flex;
  flex-direction: row;
}

#side-bar {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
}

/* Мобілка**************************************************************** */
.all-category-btn {
    width: 176px;
    height: 50px;
    padding: 14px 29px;
    border-radius: 15px;
    border: 1px, #050505;
    background-color: transparent;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.21;
}

.item-cards {
    margin-bottom: 18px;
}

.card-img {
  max-width: 335px;
}

.category-btn {
  background-color: transparent;
  border-color: transparent;
}

.category-list {
  padding-left: 0px;
}

.categories-box {
  max-width: 326px;
  height: 198px;
  overflow-y: scroll;
}

.filter-input {
  max-width: 335px;
}

.filters {
    display: block;
}

/* MIN 768******************************************************* */
@media screen and (min-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
    }

    .item-cards {
        margin-bottom: 0px;
    }

    .card-img {
        max-width: 240px;
    }
}

/* MIN 1280******************************************************/
@media screen and (min-width: 1280px) {
    .card-img {
        max-width: 250px;
    }

    .cards {
        row-gap: 32px;
    }
}
