@import './root.css';
@import './popup-common.css';

.tags-1 {
    display: none;
}
.modal-recipe {
    max-height: 100%;
    width: 320px;
    background-color: var(--dark-title-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /* transition: 300ms linear; */
    padding: 30px 10px;
    overflow-y: auto;
    border-radius: 15px;
}
.modal-close-btn-recipe {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 0;
}
.block1-wrap {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 14px;
}
.recipe-video-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.video-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.icon-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.tag-item {
    margin: 2px;
}

.recipe-image {
    object-fit: cover;
    width: 295px;
    height: 295px;
    border-radius: 8px;
}
.selected-recipe-name {
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0;
    color: var(--primary-title-color);
}

.rating-wrap-recipe {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: row;
}
.rating-number-recipe {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-input-title-color);
}
.stars {
    display: flex;
    flex-direction: row;
}
.star {
    fill: var(--rating-stars-unactive-modal);
    vertical-align: text-top;
}
.star-filled {
    fill: var(--rating-stars-active);
}
.cooking-time {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-input-title-color);
}

.ingredients-wrap {
    margin: 33px 0 40px 0;
    width: 295px;
}
.ingredient-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-title-color);
}
.ingredient-amount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-input-title-color);
}
.tags-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.btn-tag {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0;
    color: var(--primary-title-color);
    cursor: pointer;
    background-color: var(--primary-bg-color);
    padding: 8px 16px;
    border-radius: 35px;
    border: 1px solid transparent; /* Transparent border */
    box-shadow: inset 0 0 0 1px var(--primary-input-border);
}
.instruction-wrap {
    width: 310px;
    max-height: 288px;
    resize: none;
    margin: 24px 0 40px 0;
    overflow-y: auto;
}
.recipe-instruction {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 1.28; */
    letter-spacing: 0;
    color: var(--primary-title-color);
    white-space: normal;
    word-wrap: break-word;
}
.button-wrap {
    display: flex;
    gap: 10px;
}
.btn-favorite {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--primary-bg-color);
    cursor: pointer;
    background-color: var(--primary-brend);
    text-align: center;
    width: 148px;
    height: 41px;
    border-radius: 15px;
    border: 0px;
}
.btn-rating-recipe {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--primary-title-color);
    cursor: pointer;
    background-color: var(--primary-bg-color);
    text-align: center;
    width: 133px;
    height: 41px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--primary-brend);
}

.ingredient-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--rating-stars-unactive-modal);
    border-radius: 2px;
    bottom: -8px;
    left: 0;
}
ul.ingredients li {
    margin-bottom: 22px;
}
ul.ingredients li:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 375px) {
    .modal-recipe {
        padding: 40px 20px;
        width: 335px;
    }
    .recipe-image {
        height: 295px;
        width: 295px;
    }
    .modal-close-btn-recipe {
        top: 12px;
        right: 12px;
    }
}
@media screen and (min-width: 768px) {
    .modal-recipe {
        padding: 32px;
        width: 531px;
    }
    .modal-close-btn-recipe {
        top: 16px;
        right: 16px;
    }
    .block1-wrap {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        margin-bottom: 16px;
    }
    .recipe-image {
        width: 467px;
        height: 250px;
    }
    .tags-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .tags-2 {
        display: none;
    }
    .block2-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        /* align-items: start; */
        /* justify-content: space-between; */
    }
    .rating-wrap-recipe {
        gap: 8px;
        /* align-items: center; */
    }
    .ingredients-wrap {
        margin: 32px 0;
        width: 467px;
    }
    ul.ingredients li {
        margin-bottom: 16px;
    }

    .recipe-instruction {
        /* height: 162px; */
        /* margin-bottom: 32px; */
    }
    .button-wrap {
        display: flex;
        gap: 16px;
    }
    .recipe-image {
        height: 250px;
    }
    .instruction-wrap {
        width: 467px;
        max-height: 162px;
        resize: none;
        /* margin-top: 24px; */
        overflow-y: auto;
        margin-bottom: 32px;
    }
    .btn-favorite {
        width: 156px;
        height: 45px;
    }
    .btn-rating-recipe {
        width: 141px;
        height: 45px;
    }
}

@media screen and (min-width: 1280px) {
}
