@import './root.css';
@import './popup-common.css';

.modal-order {
    width: 290px;
    background-color: var(--modal-bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 15px 20px;
    overflow-y: auto;
    border-radius: 15px;
}

.modal-close-btn {
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: none;
    position: absolute;
    top: 10px;
    right: 14px;
    padding: 0;
}
.modal-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0;
    color: var(--primary-title-color);
    text-align: left;
    margin-bottom: 18px;
}
.modal-input {
    width: 100%;
    height: 46px;
    border: 1px solid var(--primary-input-border);
    background-color: inherit;
    border-radius: 15px;
    padding: 8px 8px;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin: 8px 0 16px;
}
input {
    margin: 0;
}
.modal-textarea {
    width: 100%;
    height: 100px;
    border: 1px solid var(--primary-input-border);
    background-color: inherit;
    border-radius: 15px;
    padding: 8px 8px;
    resize: none;
    margin: 8px 0 20px 0;
    box-sizing: border-box;
    display: block;
}
.modal-button {
    width: 100%;
    display: block;
    height: 46px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-bg-color);
    cursor: pointer;
    background-color: var(--primary-brend);
    text-align: center;
    border-radius: 15px;
    border: 0px;
}
.label-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;
    color: var(--primary-input-title-color);
}

@media screen and (min-width: 375px) {
    .modal-order {
        width: 295px;
        padding: 28px 20px;
    }
    .modal-textarea {
        margin-bottom: 40px;
    }
    .modal-close-btn {
        top: 14px;
    }
    .modal-title {
        margin-bottom: 28px;
    }
}
@media screen and (min-width: 768px) {
    .modal-order {
        width: 360px;
        /* min-height: 487px; */
        padding: 40px;
    }
    .modal-close-btn {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
    }
    .modal-title {
        margin-bottom: 40px;
    }
    .modal-input {
        margin: 8px 0 18px;
    }
    .modal-textarea {
        margin: 8px 0 40px 0;
    }
}

@media screen and (min-width: 1280px) {
}
