@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
}
.link {
    text-decoration: none;
    cursor: pointer;
}
/* ----MAIN STYLES POPULAR RECEPIES */
.populars {
    width: 235px;
}
.popular-recepies-title {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16; /* 116.667% */
    text-transform: uppercase;
    margin-bottom: 32px;
}
.main-popular-recepies {
    width: 235px;
}
.popular-recepies-item {
    cursor: pointer;
    list-style: none;
}
.popular-recepies-item:not(:last-child) {
    margin-bottom: 32px;
}
.thomb-popular-wrap {
    display: flex;
    gap: 16px;
}

.thomb-popular-img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    overflow: hidden;
}
.thomb-popular-info {
    width: 155px;
}
.thomb-popular-title {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: normal;
    height: 15px;
    overflow: hidden;
    margin-bottom: 8px;
}
.popular-recepie-descr {
    height: 41px;
    overflow: hidden;
    color: var(--primary-text-color);
    text-overflow: ellipsis;
    white-space: normal;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

/* ----------STYLES FOR MODAL-BACDROPE POPULAR REEPIES */
body.no-scroll {
    overflow: hidden;
}
.js-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.js-modal.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal-bg {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    padding: 10px;
    background-color: var(--primary-input-title-color);
}
.modal-body {
    position: relative;
    width: 531px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--dark-title-color);
    padding: 32px;
    position: relative;
    z-index: 20;
}
.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
.modal-close-btn {
    border: none;
    cursor: pointer;
}
.modal-content {
}
.modal-recepi-title {
    margin-bottom: 16px;
}
.recepi-video-wrap {
    margin-bottom: 16px;
}
.recepi-tags-wrap {
    display: flex;
    justify-content: space-between;
}
.recepi-tags-list {
    display: flex;
}
.recepi-tags-item {
}
.recepi-tags-btn {
}
.recepi-rating-wrap {
    display: flex;
}
.recepi-rating-value {
}
.rating-stars-wrap {
}
.rating-start-item {
}
.recepi-time-cook {
}
.recepi-ingredients-list {
    margin-bottom: 32px;
}
.recepi-ingredients-item {
    display: flex;
    justify-content: space-between;
}
.ingredient-name {
}
.ingredient-mesure {
}
.modal-recepi-description {
    margin-bottom: 32px;
}
.modal-recepi-buttons {
}
.add-favorit {
}
.give-rating {
}
