@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.points-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.points-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/* ----MAIN STYLES POPULAR RECEPIES */
.populars {
    width: 335px;
    margin-bottom: 40px;
}
.popular-recepies-title {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.popular-recepies-item {
    cursor: pointer;
    list-style: none;
}
.popular-recepies-item:nth-child(3) {
    display: none;
}
.popular-recepies-item:nth-child(4) {
    display: none;
}
.popular-recepies-item:not(:last-child) {
    margin-bottom: 24px;
}
.thomb-popular-wrap {
    display: flex;
    gap: 16px;
}

.thomb-popular-img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    overflow: hidden;
}
.thomb-popular-info {
    width: 252px;
}
.thomb-popular-title {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: normal;
    height: 18px;
    overflow: hidden;
    margin-bottom: 8px;
}
.popular-recepie-descr {
    color: var(--primary-text-color);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
}
/* ------------MOBILE w375---------------- */

/* ------------TALET w768---------------- */
@media screen and (min-width: 768px) {
    .populars {
        width: 176px;
        margin-bottom: 0;
    }
    .popular-recepies-title {
        margin-top: 64px;
        margin-bottom: 32px;
    }
    .popular-recepies-item:not(:last-child) {
        margin-bottom: 16px;
    }
    .popular-recepies-item:nth-child(3) {
        display: block;
    }
    .popular-recepies-item:nth-child(4) {
        display: block;
    }
    .thomb-popular-img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        overflow: hidden;
    }
    .thomb-popular-info {
        width: 120px;
    }
    .popular-recepie-descr {
        color: var(--primary-text-color);
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
    }
    .points-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

/* ------------DESCTOP w1280---------------- */
@media screen and (min-width: 1280px) {
    .populars {
        width: 235px;
    }
    .popular-recepies-title {
        font-size: 24px;
        line-height: 1.16;
    }
    .popular-recepies-item:not(:last-child) {
        margin-bottom: 32px;
    }
    .thomb-popular-info {
        width: 155px;
    }
    .thomb-popular-img {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        overflow: hidden;
    }
}

/* ----------STYLES FOR MODAL-BACDROPE POPULAR REEPIES */
body.no-scroll {
    overflow: hidden;
}
.js-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.js-modal.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal-bg {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    padding: 10px;
    background-color: var(--primary-input-title-color);
    z-index: 1000;
}
.modal-body {
    position: relative;
    width: 335px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--dark-title-color);
    padding: 40px 20px;
    position: relative;
    z-index: 100;
}
.modal-close-btn {
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}
.modal-close-icon {
    fill: var(--primary-title-color);
}
.modal-recepi-title {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    text-transform: uppercase;
    margin-bottom: 14px;
    order: 2;
}
.recipe-video-content {
    position: relative;
}
.video-oder{
    display: flex;
    flex-direction: column;
}
.recepi-video-wrap {
    width: 295px;
    height: 295px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    object-fit: cover;
    margin-bottom: 20px;
}
.youtube-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 23px;
    cursor: pointer;
}
.youtube-icon {
    fill: var(--dark-title-color);
}
.ingredients-order {
    display: grid;
}
.recepi-tags-wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.recepi-tags-list {
    display: flex;
    gap: 8px;
    margin-right: 32px;
}
.recepi-tags-btn {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 8px 16px;
    border-radius: 35px;
    border: 1px solid var(--primary-input-border);
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16; /* 116.667% */
}
.recepi-rating {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 33px;
}
.recepi-rating-body {
    position: relative;
}
.recepi-rating-body::before {
    content: '★★★★★';
    display: block;
}
.rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating-start-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating-active {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating-active::before {
    content: '★★★★★';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--rating-stars-active);
}
.recepi-rating-value,
.recepi-time-cook {
    color: var(--primary-input-title-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
}
.recepi-rating-value {
    margin-right: 6px;
}
.recepi-ingredients-list {
    margin-bottom: 40px;
}
.recepi-ingredients-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--rating-stars-unactive-modal);
    padding-bottom: 8px;
}

.recepi-ingredients-item:not(:last-child) {
    margin-bottom: 10px;
}
.ingredient-name {
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
}
.ingredient-mesure {
    color: var(--primary-input-title-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
}
.modal-recepi-description {
    color: var(--primary-text-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    margin-bottom: 32px;
    margin-top: 24px;
}
.modal-recepi-buttons {
    display: flex;
    gap: 14px;
}
.add-favorit {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: var(--primary-brend);
    width: 148px;
    height: 41px;
    border-radius: 15px;
    color: var(--primary-bg-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.give-rating {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 133px;
    height: 41px;
    border-radius: 15px;
    border: 1px solid var(--primary-brend);
    color: var(--primary-title-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ------------MOBILE w375---------------- */

/* ------------TALET w768---------------- */
@media screen and (min-width: 768px) {
    .modal-body {
        width: 531px;
        padding: 32px 32px;
    }
    .modal-recepi-title{
        order: 0;
        margin-bottom: 16px;
    }
    .recepi-rating{
        margin-bottom: 0;
    }
    .recipe-info-order{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .recepi-rating-wrap {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 0;
        width: 177px;
    }
    .recepi-tags-wrap {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .recepi-ingredients-list {
        grid-column-start: 1;
        grid-column-end: 3;
        order: 2;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .modal-recepi-title {
        margin-bottom: 16px;
    }
    .recepi-video-wrap {
        width: 467px;
        height: 250px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .modal-recepi-description {
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .order {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .recepi-ingredients-list {
        width: 467px;
    }
    .modal-recepi-description {
        margin-top: 0;
    }
}

.popular-recepies-title {
    margin-top: 0;
}

/* ------------DESCTOP w1280---------------- */
@media screen and (min-width: 1280px) {
    .modal-body {
        width: 531px;
    }
}
